/*Use icomoon for our icon fonts*/

[class^="icon_"], [class*="icon_"] {

	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*The comment icon*/
.icon_comment:before {

	width: 16px;
	height: 16px;
	margin: 0 0 5px 0;
	padding: 2px;
	background-color: #8cab72;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	color: #fff;
}

/*The close icon*/
.icon_close:before {
	font-size: 16px;
	color: #999;
}

/*The close icon hover*/
.icon_close:hover:before {

	color: #777;
}

/*Notification alert box*/
.rrpowered_noti {
	width: 245px;
	margin: 50px;
	right: 0;
	padding: 10px;
	position: absolute;
	bottom: 0;
	z-index: 99;
	background-color: #fff;
	line-height: 1.3em;
	color: #666;
	
	font-size: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.35);
	box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.35);
}

/*Notification alert box hover*/
.rrpowered_noti:hover {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.50);
	box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.50);
	cursor: pointer;
}

/*Clearfix for clearing floats*/
.noti_clearfix:before, .noti_clearfix:after {
	content: '';
	display: table;
}

/*Clearfix for clearing floats*/
.noti_clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0; 
	line-height: 0;
	visibility: hidden;
}
 
/*Float left*/ 
.noti_left {
	float: left;
}

/*Float right*/
.noti_right {
	float: right;
}

/*Thumbnail image*/
.rrpowered_noti_image {
	width: 30px;
	height: 30px;
}

/*Notification alert box content*/
.rrpowered_noti_content p {
    width: 200px;
    margin: 0;
    padding: 0 5px 10px 5px;
    padding-bottom: 0;
}
/*Ago text*/
.rrpowered_noti_time {
	color: #999;
}

/*Notification alert box close button*/
.rrpowered_noti_close {
	width: 16px;
	height: 16px;
}



@media all and (max-width: 800px){
.rrpowered_noti {
	margin-right: 7.5%;}
	
}

